<nav class="sidebar">
    <button
        class="close-button"
        type="button"
        (click)="fecharMenu()">
        ✕
    </button>
    <div class="logo-container">
        <h2>StockFlow PDV</h2>
    </div>
    <ul>
        <li>
            <a routerLink="/dashboard" (click)="fecharMenu()">Dashboard</a>
        </li>
        <li>
            <a routerLink="/nova-venda" (click)="fecharMenu()">Nova Venda</a>
        </li>
        <li>
            <a routerLink="/historico-de-vendas" (click)="fecharMenu()">Histórido de Vendas</a>
        </li>
        <li>
            <a routerLink="/produtos" (click)="fecharMenu()">Produtos</a>
        </li>
        <li>
            <a routerLink="/estoque" (click)="fecharMenu()">Estoque</a>
        </li>
        <li>
            <a routerLink="/entrada-de-estoque" (click)="fecharMenu()">Entrada de Estoque</a>
        </li>
        <li>
            <a routerLink="/fiados" (click)="fecharMenu()">Fiados</a>
        </li>
        <li>
            <a routerLink="/promocoes" (click)="fecharMenu()">Promoções</a>
        </li>
        <li>
            <a routerLink="/relatorios" (click)="fecharMenu()">Relatórios</a>
        </li>
        <li>
            <a routerLink="/marketing-ia" (click)="fecharMenu()">Marketing
                IA</a>
        </li>
        <li>
            <a routerLink="/configuracoes"
                (click)="fecharMenu()">Configurações</a>
        </li>
    </ul>
</nav>
